* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(3 auto);
  grid-template-areas:
    "header_1    header_1"
    "section1    section1"
    "section2    section2"
    "aside1       aside2";
}

body main {
  grid-area: header_1;
  text-align: center;
  background-color: rgb(138, 136, 136);
}
main header h1 {
  font-size: 50px;
  /*Porque no puedo aplicar el not al aside2*/
}
h3 {
  font-size: 50px;
}

.section1 {
  grid-area: section1;
  margin: 1rem;
}
.section2 {
  grid-area: section2;
  margin: 1rem;
  margin-bottom: 2rem;
}
.aside1 {
  grid-area: aside1;
  background-color: rgb(29, 188, 188);
  text-align: center;
  padding-top: 3rem;
}

.aside2 {
  grid-area: aside2;
  background-color: rgb(118, 97, 139);
  padding: 1rem 2rem;
}
.aside2 figure img {
  height: 0;
  width: 0;
}

@media (min-width: 821px) {
  body {
    
    min-height: 100vh;
    max-width: 1500px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr;
    grid-template-rows: 0.5fr 2fr 1fr;
    grid-template-areas:
      "header_1    header_1   aside2"
      "section1    section2  aside2"
      "section1    section2   aside2"
      "aside1       aside1     aside2";
  }

  .section1,
  .section2 {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-left: 5rem;
  }
  .aside1 {
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
  }

  .aside2 figure img {
    height: 200px;
    width: 200px;
    border-radius: 100%;
  }
}
