@import url(./base.css);
body {
  display: grid;
  grid-template-rows: 10rem 2rem 1fr 2rem;
  margin: 1rem 0.5rem;
  gap: 10px;
  grid-template-areas:
    "header1"
    "categorias1"
    "main1"
    "footer1";
}

body > header {
  grid-area: header1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}
body nav menu {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
body :nth-child(2) menu {
  grid-area: categorias1;
  
}

main {
  grid-area: main1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
  justify-items: center;
  gap: 1rem;
}
footer {
  grid-area: footer1;
}

@media (min-width: 760px) {
  body {
    display: grid;
    grid-template-rows: 5rem 1fr 2rem;
    grid-template-columns: 10rem 1fr;
    margin: 1rem 1rem;

    grid-template-areas:
      "header1      header1"
      "categorias1  main1"
      "categorias1  main1"
      "footer1      footer1";
  }
  body > nav menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  body > header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    gap: 1rem;
  }
  main {
  grid-area: main1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 2fr));
 
  justify-items: center;
  gap: 1rem;
}
}
