@import url("https://fonts.googleapis.com/css2?family=Bangers&family=Inconsolata:wght@300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: sans-serif;
  background-color: rgb(207, 252, 255);
}
h1 {
  font-family: "Bangers", cursive;
  font-size: 50px;
}

body nav ul {
  display: flex;
  justify-content: center;
  list-style: none;
  text-decoration: none;
}
body nav ul li {
  padding: 1rem;
}

a {
  text-decoration: none;
  color: rgb(158, 25, 158);
  font-weight: bold;
  text-shadow: 2px 0px 5px;
}
body > section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 5rem auto;
  max-width: 70vw;
}

section main figure img {
  height: 18rem;
  width: 17rem;
  border-radius: 100%;
  object-fit: cover;
}


body section > section {
  width: 30rem;
  margin-left: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin: 1rem auto;
}


.mainProyectos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin: 1rem auto;
}
body main > section {
  max-width: 100vw;
  margin: 0 2rem;
}
body main > section > header{
  text-align: center;
}
main section ul {
  margin: 0.5rem auto;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5rem;
}
section > ul li {
  max-width: 300px;
}
ul li article {
  text-align: center;
  box-shadow: 1px 1px rgb(194, 194, 194);
  border-radius: 5%;
  background-color: white;
}

li > article header img {
  padding: 0.5rem 0;
  width: 100%;
  height: 170px;
}
li > article > p {
  margin: 0 1rem;
}

article ul li a {
  display: block;
  width: 3rem;
  height: 3rem;
  font-size: 0;
  /* preguntar porque no puedo cambiar 
                  el tamaño del icono*/
}

article ul li a {
  background-position: center;
  background-size: contain;
}

article ul li a.gitHub {
  background-image: url(./imagenes/GitHub.png);
}

article ul li a.view {
  background-image: url(./imagenes/show.png);
}
.contacto {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3rem;
  height: 170vw;
  text-align: start;
  margin: 1rem 2rem;
}
footer {
  margin-top: 5rem;
}
