* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../img/hamburguesa.png);
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  font-family: sans-serif;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

form > fieldset {
  border: none;
  margin: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}
form fieldset {
  border: none;
}
.datos {
  font-style: italic;
}
legend {
  margin: 1rem auto;
  font-weight: bold;
  font-size: 18px;
  color: rgb(7, 24, 48);
}
form label {
  font-style: italic;
}

form .fieldset1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-left: 6rem;
  padding-right: 6rem;
}
form .fieldset1 label {
  font-weight: bold;
}
form .fieldset1 input {
  border: 0.5px solid;
  width: 20rem;
  height: 2rem;
  padding: 0.5rem;
  font-style: italic;
}
textarea {
  border: 0.5px solid;
  width: 20rem;
  height: 5rem;
  padding: 0.5rem;
  font-style: italic;
}
form .fieldset1 select {
  border: 0.5px solid;
  height: 2rem;
  font-weight: bold;
}

button {
  margin-top: 1rem;
  padding: 0.4rem 1rem;
  color: #ffffff;
  background-color: rgb(18, 24, 69);
}
