body {
  border: solid 2px red;
  min-height: 500px;
  display: grid;
  place-items: center;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  height: 300px;
  width: 300px;
}


section {
  height: 150px;
  width: 150px;
  transition: 1s;
}


.section1 {
  background-color: white;
  justify-self: center;
  position: absolute;
  z-index: -1;
  text-align: center;
  font-size: 40px;
  padding-top: 1rem;
}
.section2 {
  background-color: red;
}
 .container:hover .section2 {
  transform: rotate(-180deg) translate(10rem);
 
}

.section3 {
  background-color: blue;
}
.container:hover .section3 {
  transform: rotate(180deg) translate(-10rem);
}
.section4 {
  background-color: green;
}
.container:hover .section4 {
  transform: rotate(180deg) translate(10rem);
}
.section5 {
  background-color: yellow;
}
.container:hover .section5 {
  transform: rotate(-180deg) translate(-10rem);
}
